
$cgo_orange:#f29001;
$cgo_orange_fader:#f7a349;
$cgo_seablue:#69c5cd;
$cgo_lighterblue:#47bcc7;

$cgo_grassGreen:#c6e6a6;
$cgo_deepGreen:#408000;
$cgo_fadeGreen:#6e9b41;
$cgo_faderGreen:#9cd365;
$cgo_textBlue:#5a5975;

//Graduate SideBar Link
$cgo_graduate_link_fadeGreen:#9cd365;
$cgo_graduate_link_fadeAlmond:#caa389;
$cgo_graduate_link_Orange:#ffac31;
$cgo_graduate_link_Pink:#ffa791;

$cgo_graduate_link_minor_Brown:#642719;
$cgo_graduate_link_minor_Orange:#ffac31;
$cgo_graduate_link_minor_fadeBrown:#705c57;
$cgo_graduate_link_minor_fadeAlmond:#eeb58f;

#examList .el-container{
   @include clean;
   height: 100%;
   position: relative;
   overflow: hidden;
}

.area{
   @include ibl;
   width: 100%;
   overflow: hidden;
   &.type_graduate{
      background-color: $cgo_deepGreen;
      min-height: 230px;
      @include MCW(601px) {
         min-height: 240px;
      }
      // margin: -30px 0 30px 0;
   }

   .container{
      @include b;
      overflow: hidden;;
      margin:  0 auto;
      width: 100%;
      max-width: 1300px;
      padding: 10px 10px 50px;
      @include MCW(1171px) {
         width: 100%;
         padding: 0px 0px 0px;
      }
      &.type_detail{
         @include fxb;
         
         width:100%;
         align-items: flex-start;
         @include MCW(1301px){
            flex-direction: column-reverse;
         }
      }
      ul{
         list-style: none;
         padding:0;
         margin:0;
      }
      .title{
         letter-spacing: 0;
      }
   }
}

//Top Menu Block
#examList{

   .side_info_block{
      @include fxc;
      width: 100%;
      max-width: 280px;
      @include MCW(1301px){
         max-width: unset;
      }
      > .info_container{
         @include fxc;
         > .news{
            @include fxc;
            width: 100%;
            > .list{
               list-style: none;
               @include fxa;
               min-height: 160px;
               margin: 0;
               padding: 0;
               > .item{
                  @include fxe;
                  width:100%;
                  position: relative;
                  a{
                     @include fxe;
                     @include hover;
                     text-align: center;
                     width:100%;
                     font-size: 20px;
                     font-weight: bold;
                     color:#888;
                     padding:0 0 0 25px;
                  }
                  &:not(:last-child)::after{
                     content: '';
                     @include ibl;
                     position: absolute;
                     background-color: #ddd;
                     width:90%;
                     height: 1px;
                     @include arl;
                     bottom: -15px;
                  }
                  .num{
                     @include ibl;
                     padding:1px 6px ;
                     background-color:$cgo_faderGreen;
                     border-radius: 3px;
                     color: #fff;
                     font-size: 12px;
                  }
               }
            }
         }
         > .services{
            @include fxc;
            width: 100%;
            > .list{
               list-style: none;
               @include fxa;
               min-height: 160px;
               margin: 0;
               padding: 0;
               > .item{
                  @include fxe;
                  width:100%;
                  position: relative;
                  a{
                     @include fxb;
                     text-align: center;
                     width:100%;
                     font-size: 20px;
                     font-weight: bold;
                     color:#888;
                     padding:10px 34px;
                     @include bs(3px , 3px , 12px, #eee);
                     margin:6px 0;
                     @include hos2();
                     @include tst;
                  }
                  &:nth-child(1){
                     .icon{
                        background-color: $cgo_graduate_link_fadeGreen;
                     }
                  }
                  &:nth-child(2){
                     .icon{
                        background-color: $cgo_graduate_link_fadeAlmond;
                     }
                  }
                  &:nth-child(3){
                     .icon{
                        background-color: $cgo_graduate_link_Orange;
                     }
                  }
                  &:nth-child(4){
                     .icon{
                        background-color: $cgo_graduate_link_Pink;
                     }
                  }
                  .icon{
                     @include fxc;
                     padding: 0px;
                     background-color: $cgo_faderGreen;
                     width: 25px;
                     height: 25px;

                     border-radius: 3px;
                     i{
                        color:#fff;
                        font-size: 13px;
                     }
                  }
                  .title_box{
                     @include fxc;
                     width: 100%;
                     max-width:85px;;
                     text-align: left;
                     overflow: hidden;
                     > .item{
                        @include ibl;
                        width: 100%;
                        letter-spacing: 0;
                     }
                     > .title{
                        color:$cgo_textBlue;
                        font-size: 17px;
                     }
                     > .subtitle{
                        font-size: 13px;
                        color:#ccc;
                        
                     }
                  }
                  .arrow{
                     @include fxc;
                     padding: 3px;
                     background: #eee;
                     border-radius: 50px;
                     width: 21px;
                     height: 21px;
                     i{
                        font-size: 12px;
                     }
                  }
               }
            }
         }
         > .links{
            > .list{
               > .item{
                  @include ibl;
                  width:100%;
                  position: relative;
                  &:nth-child(1){
                     .icon{
                        color: $cgo_graduate_link_minor_Brown;
                     }
                  }
                  &:nth-child(2){
                     .icon{
                        color: $cgo_graduate_link_minor_Orange;
                     }
                  }
                  &:nth-child(3){
                     .icon{
                        color: $cgo_graduate_link_minor_fadeBrown;
                     }
                  }
                  &:nth-child(4){
                     .icon{
                        color: $cgo_graduate_link_minor_fadeAlmond;
                     }
                  }
                  a{
                     @include fxfs;
                     @include hover;
                     padding: 4px 0 4px 27px;
                  }
                  &:not(:last-child)::after{
                     content: '';
                     @include ibl;
                     position: absolute;
                     border:1px dashed #866059;
                     border-width: 0 0 1px 0;
                     width:90%;
                     height: 1px;
                     @include arl;
                     bottom: 0px;
                     opacity: .3;
                  }
                  .icon{
                     @include ibl;
                     padding:10px;
                     i{
                        padding: 0 10px 0 0;
                     }
                  }
                  .title{
                     font-size: 18px;
                     letter-spacing: 0;

                  }
               }
            }

         }
         > .item{
            margin: 0 0 20px;
            ul{
               list-style: none;
               margin: 0;
               padding: 0;
            }
         }
      }
   }

   .main_content_block{
      @include fxc;
      width: 100%;
      max-width: calc(100% - 290px);
      @include MCW(1301px){
         max-width: unset;
      }
      .control_block{
         @include ibl;
         width:100%;
         > .title{
            @include ibl;
            width:100%;
            margin: 22px 0  16px;
            color:#111;
            letter-spacing: 3px;
         }
         > .tab_list{
            @include fxfs;
            overflow: hidden;
            margin: 10px 0;
            width: 100%;
            position: relative;
            > .tab{
               @include fxfs;
               flex-wrap: nowrap;
               width:100%;
               border:  solid #eee;
               border-width:0 0 2px 0;
               > .item{
                  @include fxe;
                  box-sizing: border-box;
                  width: 155px;
                  padding: 10px 20px;
                  @include hover;
                  position: relative;
                  font-size: 18px;
                  &.active{
                     &:after{
                        content: '';
                        @include ibl;
                        position: absolute;
                        border: solid $cgo_orange;
                        border-width: 0 0 1px 0;
                        width:90%;
                        height: 1px;
                        
                        bottom: -1px;
                     }
                     .icon, .title{
                        color:$cgo_orange;
                     }

                  }
                  > .icon{
                     font-size: 16px;
                     color:$cgo_lighterblue;
                  }
                  > .title{
                     font-size: 17px;
                     letter-spacing: 0;
                  }
               }
            }
         }
      }

   }


}

#examList .exam-show .title {
    @include MCW(581px){
      width: unset;
      text-align: unset;
    }
}

#GraduateDetailTabListSwiper{
   .swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled{
      display: none;
   }
   .swiper-button-prev,
   .swiper-button-next{
      background-color: #fff;      
      bottom: -1px;
   }
   .swiper-button-prev{
      background-image:url('../img/graduate_img/slider_prev.svg');
      left: 0px;
      right: auto;
      @include bs(5px, 0, 10px ,#ddd);
   }
   .swiper-button-next{
      background-image:url('../img/graduate_img/slider_next.svg');
      right: 0px;
      left: auto;
      @include bs(-5px, 0, 10px ,#ddd);
   }

}


//舊版 考古題 查榜 等頁面樣式

.main_content_block {
   table{
      border-collapse: collapse;;
   }
   .subTtl{
      display: inline-block;
   }
   .borderBtm {
      border-bottom: 3px solid #F29001;
   }

   .block {
      margin-bottom: 40px;
   }

   .mSTb .InPC {
      display: inline-block;
   }

   .ad {
      margin-bottom: 40px;
      padding-bottom: 15px;
      border-bottom: 1px solid #F29001;

      img {
         width: 100%;
      }
   }

   .pdfGroup {
      padding: 20px;
      text-align: center;
      background: #FFFBF6;
      margin-bottom: 30px;
      border: 1px dashed #F29001;

      .pdfLink {
         float: left;
         width: 33.3%;
         padding: 0 5px;
         text-align: center;
         box-sizing: border-box;
         -moz-box-sizing: border-box;
         -webkit-box-sizing: border-box;

         a {
            border-bottom: 1px solid #F29001;
         }
      }
   }

   .pdfLink a {
      border-bottom: 2px solid #F29001;
   }

   .exLink {
      padding-left: 15px;
      position: relative;
   }

   li.exLink .exLink-group .fa {
      color: #555;
   }

   .exLink:before {
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 4px;
      -ms-border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      background-color: #555;
      position: absolute;
      left: 4px;
      top: 11px;
   }

   .searchInfo {
      color: #fff;
      padding: 7px 0;
      text-align: center;
      background-color: #F29001;
   }

   .quote {
      border: none;
      background-color: #eee;
   }

   .mSTb1 {
      label.mSType {
         padding: 5px 0;
         margin-right: 15px;
         display: inline-block;
      }

      select {
         padding: 3px 0;
         margin: 5px 5px 5px 0;
      }

      #submit {
         width: 290px;
         color: #F29001;
         cursor: pointer;
         padding: 7px 5px;
         margin: 30px 0 0;
         background-color: #fff;
         border: 2px solid #F29001;
      }
   }

   .admissionList {
      background-color: #eee;

      h3 {
         color: #fff;
         padding: 15px;
         text-align: center;
      }
   }

   .col01 .admissionList h3 {
      background-color: #F29001;
   }

   .col02 .admissionList h3,
   .detail .admissionList h3 {
      background-color: #306409;
   }

   .admissionList .form {
      padding: 30px 20px 40px;
   }

   .col01 .admissionList .form {
      padding-bottom: 88px;
   }

   .admissionList dt {
      width: 32%;
      float: left;
      padding: 9px 0;
      font-weight: 700;
      text-align: center;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
   }

   .col01 .admissionList dt {
      color: #fff;
      background-color: #FFB13F;
   }

   .col02 .admissionList dt,
   .detail .admissionList dt {
      color: #fff;
      background-color: #65c23e;
   }

   .admissionList {
      dd {
         padding-top: 3px;
         padding-left: 35%;

         select {
            border: none;
            padding: 8px 0 8px 5px;
         }

         input[type="text"] {
            width: 100%;
            padding: 5px 10px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
         }
      }

      label {
         padding: 5px 0;
         margin-right: 15px;
         display: inline-block;

         input[type="radio"] {
            margin-right: 3px;
         }
      }

      input[type="submit"] {
         width: 32%;
         cursor: pointer;
         padding: 7px 5px;
         margin: 10px 0 20px;
         background-color: #fff;
      }
   }

   .col01 .admissionList input[type="submit"] {
      color: #FFB13F;
      border: 2px solid #FFB13F;
   }

   .col02 .admissionList input[type="submit"],
   .detail .admissionList input[type="submit"] {
      color: #65c23e;
      border: 2px solid #65c23e;
   }

   .admissionList ul {
      list-style: inherit;
      list-style-position: inside;

      li {
         margin-left: 1em;
         text-indent: -1em;
      }
   }

   #main .exLink-group.c333 .fa-external-link {
      color: #333;
   }

   #examSearch .block {
      padding-top: 40px;
      border-top: 1px solid #F29001;
   }

   .detail .admissionList .form {
      padding: 30px 20px 20px;
   }

   .oneCol.detail {
      border-bottom: 1px solid #ddd;
   }
}

@media only screen and (max-width: 1025px) {
   #examList .mSTb1 input[type="submit"] {
      width: 100%;
   }
}

@media only screen and (max-width: 780px) {
   #examList .mSTb {
      .InMobile {
         display: block;
         padding-left: 34px;
      }

      .InPC {
         display: none;
      }
   }

   .mSTb2 tr {

      th:nth-child(n+5),
      td:nth-child(n+5) {
         display: none;
      }
   }
}